<mat-nav-list>

  <ng-container *ngIf="chats$ | async as chats; else loadingChats">
    <ng-container *ngIf="chats.length > 0; else noChats">
      <a mat-list-item [routerLink]="[chat.id]" *ngFor="let chat of chats; trackBy: trackByFn">
        <app-avatar
          matListAvatar
          [src]="chat.getPhotoURL()"
          [title]="getChatTitle(chat)"
          [containerStyles]="{width: '40px', height: '40px', margin: 0}">
        </app-avatar>
        <h3 matLine>{{ getChatTitle(chat) }}</h3>
        <p matLine>{{ getLastMessage(chat) }}</p>
      </a>
    </ng-container>
  </ng-container>

</mat-nav-list>

<ng-template #loadingChats>
  <mat-spinner
    class="spinner"
    diameter="50"
    strokeWidth="3">
  </mat-spinner>
</ng-template>

<ng-template #noChats>
  <app-no-record
    icon="chat_bubble"
    title="No chats.">
  </app-no-record>
</ng-template>

<button mat-fab class="fab-bottom-right" [matMenuTriggerFor]="chatListOptions">
  <mat-icon>add</mat-icon>
</button>

<mat-menu #chatListOptions="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="onAddGroup()">
    <mat-icon>group_add</mat-icon>
    <span>New group</span>
  </button>
</mat-menu>
