.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3, mat-icon {
  color: #ccc;
}

mat-icon {
  width: 150px;
  height: 150px;
  font-size: 150px;
}
