<div class="message-container">
  <app-avatar
    [src]="message.sender.getPhotoURL()"
    [title]="message.sender.name"
    [containerStyles]="{width: '40px', height: '40px', margin: 0}"
    [style.order]="isFromSender ? 1 : 0">
  </app-avatar>
  <div class="text-container" [ngClass]="{'sender-container': isFromSender}">
    <i class="arrow" [ngClass]="arrowClass"></i>
    <span class="text">{{ message.text }}</span>
    <span class="time"><small>{{ message.sender.name }}: {{ message.createdAt | fromNow }}</small></span>
  </div>
</div>
