<section class="content">
  <app-chat-message
    *ngFor="let m of messages$ | async"
    [message]="m"
    [isFromSender]="m.sender.id === authService.authUser.id">
  </app-chat-message>
</section>

<mat-toolbar class="footer" color="primary">
  <mat-toolbar-row>
    <input class="input" type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message">
    <span class="spacer"></span>
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
