/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
}

.app-login-spinner .mat-spinner circle {
  stroke: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.spinner {
  margin: 30px auto 0 auto;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.app-user-profile .mat-spinner circle {
  stroke: #fff;
}

.mat-dialog-no-padding .mat-dialog-container {
  padding: 0;
}
