<mat-nav-list>

  <ng-container *ngIf="users$ | async as users; else loadingUsers">
    <a mat-list-item routerLink="./" *ngFor="let user of users">
      <img matListAvatar src="assets/images/user-no-photo.png" [title]="user.name">
      <h3 matLine>{{ user.name }}</h3>
      <p matLine>Member since {{ user.createdAt | date: 'dd/MM/yyyy' }}</p>
    </a>
  </ng-container>

  <ng-template #loadingUsers>
    <mat-spinner
      class="spinner"
      diameter="50"
      strokeWidth="3">
    </mat-spinner>
  </ng-template>

</mat-nav-list>
