<mat-nav-list>

  <ng-container *ngIf="users$ | async as users; else loadingUsers">
    <ng-container *ngIf="users.length > 0; else noUsers">
      <a mat-list-item [routerLink]="['../', user.id]" *ngFor="let user of users; trackBy: trackByFn">
        <app-avatar
          matListAvatar
          [src]="user.getPhotoURL()"
          [title]="user.name"
          [containerStyles]="{width: '40px', height: '40px', margin: 0}">
        </app-avatar>
        <h3 matLine>{{ user.name }}</h3>
        <p matLine>Member since {{ user.createdAt | date: 'dd/MM/yyyy' }}</p>
      </a>
    </ng-container>
  </ng-container>

</mat-nav-list>

<ng-template #loadingUsers>
  <mat-spinner
    class="spinner"
    diameter="50"
    strokeWidth="3">
  </mat-spinner>
</ng-template>

<ng-template #noUsers>
  <app-no-record
    icon="group"
    title="No registered users.">
  </app-no-record>
</ng-template>
